segmentation/ops_dcnv3/
segmentation/work_dirs/**/*.json
segmentation/work_dirs/**/*.log

*.pkl
*.png
*.pth

.idea/
.DS_Store
__pycache__/
classification/convertor/
segmentation/convertor/
checkpoint_dir/
demo/
